*.[oa]
*~
*.kdevelop.pcs
ui_*.h
qrc_*.cpp
moc_*.cpp

*.eep
*.elf
*.hex
*.d
*.bin
*.list
*.srec
*.lss
*.lst
*.map
*.sym
*.app
.directory
.DS_Store

direcs/Makefile
direcs/src/Makefile
direcs/src/Makefile.Debug
direcs/src/Makefile.Release
direcs/bin/direcs

direcs/doc/
direcs/tmp/
direcs/src/test/hellogl
direcs.log

direcs-avrsim/bin/
  
direcs-remote/Makefile
direcs-remote/src/Makefile
direcs-remote/src/Makefile.Debug
direcs-remote/src/Makefile.Release
direcs-remote/bin/direcs-remote

direcs-avr/.dep/
direcs-avr/Debug/
direcs-avr/test/.dep

test/Makefile
test/src/Makefile
test/bin

kinect/Makefile
kinect/src/Makefile
kinect/src/Makefile.Debug
kinect/src/Makefile.Release
kinect/bin/kinect
OpenCV/sync
OpenCV/sync.dSYM/Contents/Info.plist
OpenCV/sync.dSYM/Contents/Resources/DWARF/sync
Icon
test/test
direcs-avrsim/src/Makefile
direcs-avrsim/Makefile
direcs-avrsim/direcs-avrsim.pro.user