*.[oa]
*~
*.kdevelop.pcs
ui_*.h
qrc_*.cpp
moc_*.cpp

*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.sym
*.app
.directory
.DS_Store


direcs/Makefile
direcs/src/Makefile


direcs/bin/direcs
direcs/tmp/
direcs/src/test/hellogl
direcs.log

direcs-avrsim/bin/
  
direcs-remote/bin/direcs-remote

direcs/src/Makefile.Debug
direcs/src/Makefile.Release
direcs/doc/

direcs-avr/.dep/
direcs-avr/Debug/
direcs-avr/test/.dep

test/bin
